.login-form {
  display: inline-block;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.login-full-width {
  width: 100%;
  margin: 5px;
  align-content: center;
}

.login-full-width input {
  width: 80%;
}

.example-container-parent {
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-content: center;
  display: block;
}

.example-container {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 90%;
  min-width: 200px;
  max-width: 700px;
}

.example-container>* {
  width: 100%;
}

.example-container>button {
  margin-bottom: 0.5em;
}
