<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="example-container-parent">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="ระบุชื่อผู้ใช้งาน" formControlName="username" maxlength="20" required>
        <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
        <mat-hint align="end">{{f.username.value.length}} / 20</mat-hint>
        <mat-error *ngIf="f.username.invalid">กรุณาระบุชื่อผู้ใช้งาน</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="กรุณาระบุรหัสผ่าน" formControlName="password" [type]="hide ? 'password' : 'text'"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="f.password.invalid">กรุณาระบุรหัสผ่าน</mat-error>
      </mat-form-field>
      <mat-error *ngIf="haveError">{{errorMessage}}</mat-error>
      <button [disabled]="isBusy || !canSummit" mat-raised-button color="accent">Login</button>
      <button [disabled]="canSummit" mat-raised-button color="primary" [routerLink]="['/register']">สมัครเข้าใช้</button>
      <div style="width: 100%; text-align: center; align-content: center;">
        <div style="display: inline-block">
          <mat-spinner *ngIf="isBusy"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</form>
