<ng-template #loading>
  <div style="width: 100%; text-align: center; align-content: center; margin-top: 0.5em;">
    <div style="display: inline-block">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>

<div *ngIf="courses$ | async as courses; else loading ">
  <h3 mat-line>พบ {{courses.length}} บทเรียน</h3>
  <mat-list>
    <mat-list-item *ngFor="let course of courses; index as i;">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{course.name}}</h4>
      <p mat-line>ผู้สอน: {{course.author.firstname}} {{course.author.lastname}}</p>
      <p mat-line>ลงทะเบียน: {{course.numberofstudent}} คน</p>
      <a matSuffix class="nowrap" [routerLink]="['/courses/detail', course._id]">
        รายละเอียด
      </a>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
