<div class="fab-container" *ngIf="canEdit && !isEditing; else cannotEdit">
  <button mat-fab class="fab-toggler" (click)="EditMode()">
    <i class="material-icons">edit</i>
  </button>
</div>

<ng-template #cannotEdit>
  <div class="fab-container">
    <button mat-fab class="fab-toggler" disabled><i class="material-icons">edit</i></button>
  </div>
</ng-template>

<ng-template #loading>
  <div style="width: 100%; text-align: center; align-content: center; margin-top: 0.5em;">
    <div style="display: inline-block">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>


<!--
<form *ngIf="course$ | async as course; else loading" [formGroup]="form" (ngSubmit)="onSubmit()">
-->

<form *ngIf="course$ | async; else loading" [formGroup]="form">
  <div class="example-container-parent">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="ชื่อบทเรียน" formControlName="name" maxlength="250" required>
        <mat-hint align="end">{{f.name.value.length}} / 250</mat-hint>
        <mat-error *ngIf="f.name.invalid">กรุณาระบุชื่อบทเรียน</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="หัวเรื่อง" formControlName="subject">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="หมวดหมู่" formControlName="category">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="คำอธิบาย" formControlName="description">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="ระบุวันที่เริ่มต้น" formControlName="timestart" readonly="true">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerEnd" placeholder="ระบุวันที่สุดท้าย" formControlName="timeend" readonly="true">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="ผู้สอน" [value]="author" disabled>
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput placeholder="จำนวนผู้ลงทะเบียน" formControlName="numberofstudent">
      </mat-form-field>

      <mat-error *ngIf="haveError">{{errorMessage}}</mat-error>

      <button *ngIf="isAdding" mat-raised-button color="primary" (click)="AddSave()" [disabled]="!isValidForm || isBusy">
        <span>บันทึก</span>
        <i class="material-icons">save</i>
      </button>

      <button *ngIf="isAdding" mat-raised-button color="warn" (click)="CancelAdd()" [disabled]="[isBusy]">
        <span>ยกเลิก</span>
      </button>

      <button *ngIf="isEditing" mat-raised-button color="primary" (click)="EditSave()" [disabled]="!isValidForm || isBusy">
        <span>แก้ไข</span>
        <i class="material-icons">save</i>
      </button>

      <button *ngIf="isEditing" mat-raised-button color="warn" (click)="CancelEdit()" [disabled]="[isBusy]">
        <span>ยกเลิก</span>
      </button>

      <button *ngIf="!authService.IsInstructor" mat-raised-button color="warn" (click)="Enroll()" [disabled]="isEnroll">
        <span>ลงทะเบียนเรียน</span>
        <i class="material-icons">add_circle</i>
      </button>

    </div>
  </div>
</form>

<!--
<a routerLink="/">
  <button mat-raised-button color="accent">Back to home page.</button>
</a>
-->
