.fab-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  >div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

.type-panel-time .mat-select-content {
  background: rgba(255, 60, 0, 0.315);
}

.type-panel-name .mat-select-content {
  background: rgba(0, 255, 0, 0.329);
}

.type-panel-category .mat-select-content {
  background: rgba(0, 0, 255, 0.5);
}

.example-container-parent {
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-content: center;
  display: block;
}

.example-container {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 90%;
  min-width: 200px;
  max-width: 800px;
}

.search-form>* {
  width: 100%;
}
