<!--
<mat-button-toggle-group #group>
  <mat-button-toggle value="name">ชื่อบทเรียน</mat-button-toggle>
  <mat-button-toggle value="time">ช่วงเวลา</mat-button-toggle>
</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>
-->

<div class="fab-container" *ngIf="authenticationService.IsInstructor; else notInstructor">
  <a routerLink="/courses/detail/add">
    <button mat-fab class="fab-toggler">
      <i class="material-icons">add</i>
    </button>
  </a>
</div>
<ng-template #notInstructor>
  <div class="fab-container">
    <button mat-fab class="fab-toggler" disabled>
      <i class="material-icons">add</i>
    </button>
  </div>
</ng-template>

<ng-template #loading>
  <div style="width: 100%; text-align: center; align-content: center; margin-top: 0.5em;">
    <div style="display: inline-block">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>

<div class="example-container-parent">
  <div class="example-container">
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select [(value)]="selected" placeholder="เลือกประเภทการค้นหา" formControlName="panelSelectionType"
          panelClass="type-panel-{{selected}}">
          <mat-option value="name">ชื่อบทเรียน</mat-option>
          <mat-option value="time">เวลา</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.display]="f.panelSelectionType.value === 'name'?'inherit':'none'">
        <input matInput formControlName="searchText" placeholder="ระบุคำค้นหา">
        <mat-icon matSuffix>text_fields</mat-icon>
      </mat-form-field>

      <mat-form-field [style.display]="f.panelSelectionType.value === 'time'?'inherit':'none'">
        <input matInput [matDatepicker]="picker" placeholder="ระบุวันที่" formControlName="searchTime" readonly="true">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="accent" [disabled]="!canSummit">
        <span>ค้นหา</span>
        <i matSuffix class="material-icons">search</i>
      </button>

    </form>
    <hr />

    <cha-course-list [courses$]="courseResp$"></cha-course-list>
  </div>
</div>
