.fab-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  >div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}


.example-container-parent {
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-content: center;
  display: block;
}

.example-container {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 90%;
  min-width: 200px;
  max-width: 700px;
}

.example-container>* {
  width: 100%;
}

.example-container>button {
  margin-bottom: 0.5em;
}

.spinner {
  width: 100%;
  text-align: center;
  align-content: center;
}

.spinner>* {
  display: inline-block;
}

.mat-input-element:disabled {
  color: #673ab7;
  /* rgba(17, 55, 195, 0.54); */
}
