<ng-container *ngIf="isLoggedIn; then loggedIn; else loggedOut">
</ng-container>

<ng-template #loggedIn>
  <mat-sidenav-container autosize fullscreen>
    <mat-sidenav #sidenav mode="over" fixedInViewport="true">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <h2>Account Options</h2>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <h3>{{currentUserName}} <mat-icon>account_box</mat-icon></h3>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item>
          <a routerLink="/" routerLinkActive="active">หน้าหลัก</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/profile" routerLinkActive="active">My Profile</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/courses/registered" routerLinkActive="active">My Registered Courses</a>
        </mat-list-item>
        <mat-list-item *ngIf="authenticationService.IsInstructor">
          <a routerLink="/courses/mind" routerLinkActive="active">My Courses (Owned)</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/courses/all" routerLinkActive="active">All Courses</a>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button color="warn" (click)="signOut()" style="width: 100%"><strong>Sign Out</strong></button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="text-align: center">
      <mat-toolbar color="primary">
        <mat-toolbar-row role="heading">
          <button #sidenavToggle mat-icon-button title="open side-nav" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="text-center title">{{ title }}</span>
          <mat-icon *ngIf="router.url === '/'" class="right-icon">favorite</mat-icon>
          <mat-icon *ngIf="router.url !== '/'" class="right-icon" (click)="router.navigate(['/'])">home</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="content-router">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template #loggedOut>
  <mat-toolbar color="primary">
    <mat-toolbar-row role="heading">
      <mat-icon class="left-icon" style="color: gray">menu</mat-icon>
      <span class="text-center title">{{ title }}</span>
      <mat-icon *ngIf="router.url === '/'" class="right-icon">favorite</mat-icon>
      <mat-icon *ngIf="router.url !== '/'" class="right-icon" (click)="router.navigate(['/'])">home</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngIf="router.url == '/register'; else mustLogin" class="content-router">
    <cha-register></cha-register>
  </div>
  <ng-template #mustLogin>
    <div class="content-router">
      <cha-login></cha-login>
    </div>
  </ng-template>
</ng-template>

<div *ngIf="isOffline" class="offline-alert">
  <div class="mat-warn">
    App is offline.
  </div>
</div>
