.content-router {
  text-align: center;
}

.right-icon {
  padding: 0 14px;
}

.title {
  font-weight: bold;
}

.text-center {
  text-align: center;
  flex: 1 1 auto;
}

.offline-alert {
  z-index: 999;
  position: fixed;
  bottom: 10px;
  display: block;
  width: 99vw;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  align-content: center;
  text-align: center;
}

.offline-alert>div {
  width: 80%;
  text-align: center;
  display: inline-block;
  background-color: red;
  color: white;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

// mat-nav-list {
//   font-weight: bold;
// }

// mat-nav-list>mat-list-item:nth-child(odd) {
//   color: #777;
// }

// // mat-nav-list>mat-list-item:nth-child(even) {
// //   color: blue;
// // }
