<ng-template #loading>
  <div style="width: 100%; text-align: center; align-content: center; margin-top: 0.5em;">
    <div style="display: inline-block">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>

<form class="login-form" *ngIf="user | async; else loading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="example-container-parent">
    <div class="example-container">
      <mat-radio-group formControlName="role" required>
        <mat-radio-button value="student">นักเรียน&nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="instructor">ผู้สอน&nbsp;</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder="ชื่อผู้ใช้งาน" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ชื่อนำ" formControlName="firstname">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="นามสกุล" formControlName="lastname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ชื่อเล่น" formControlName="nickname">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="ระบุวันเกิด" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="">ไม่ระบุ&nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="male">เพศชาย&nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="female">เพศหญิง&nbsp;&nbsp;</mat-radio-button>
      </mat-radio-group>
      <hr />
      <mat-error *ngIf="haveError">{{errorMessage}}</mat-error>
      <button [disabled]="isBusy || !canSummit" mat-raised-button color="accent">บันทึก เพื่อเปลี่ยนแปลง</button>
      <button [disabled]="isBusy" mat-raised-button color="primary" [routerLink]="['/']">กลับหน้าหลัก</button>
    </div>
  </div>
</form>
