.terminal-font {
  display: block;
  align-content: center; // font-size: large;
  font-weight: bolder;
  white-space: pre;
  font-family: Consolas, Courier New, Courier, Lucida Console, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.terminal-font>div {
  display: block;
}

.terminal-font>div>pre {
  display: inline-block;
  font-family: Consolas, Courier New, Courier, Lucida Console, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  text-align: left;
  border-bottom: 1px solid palevioletred;
}
