<h3>หน้าหลัก</h3>

<div class="terminal-font">
  <div>
    <pre>
.--------------------.
|  Hi, How are you ? |
'--------------------'
          ^      (\_/)
          '----- (O.o)
                 (> <)








.
.
. #anacha
  </pre>
  </div>
</div>
