<form class="login-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="example-container-parent">
    <div class="example-container">
      <mat-radio-group formControlName="role" required>
        <mat-radio-button value="student">นักเรียน&nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="instructor">ผู้สอน&nbsp;</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder="ระบุชื่อผู้ใช้งาน" formControlName="username" required>
        <mat-error *ngIf="f.username.invalid">กรุณาระบุชื่อผู้ใช้งาน</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="กรุณาระบุรหัสผ่าน" formControlName="password" [type]="hide ? 'password' : 'text'"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="f.password.invalid">กรุณาระบุรหัสผ่าน</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ยืนยันรหัสผ่านอีกครั้ง" formControlName="password2" [type]="hide ? 'password' : 'text'"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="f.password2.invalid">รหัสผ่านไม่ตรงกัน</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ชื่อนำ" formControlName="firstname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="นามสกุล" formControlName="lastname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ชื่อเล่น" formControlName="nickname">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="ระบุวันเกิด" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="">ไม่ระบุ&nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="male">เพศชาย&nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="female">เพศหญิง&nbsp;&nbsp;</mat-radio-button>
      </mat-radio-group>
      <hr />
      <mat-error *ngIf="haveError">{{errorMessage}}</mat-error>
      <div *ngIf="isBusy" class="spinner">
        <div>
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <button [disabled]="isBusy || !canSummit" mat-raised-button color="accent">ยอมรับ และสมัครเข้าใช้งาน</button>
      <button [disabled]="isBusy" mat-raised-button color="primary" [routerLink]="['/']">กลับหน้าหลัก</button>
    </div>
  </div>
</form>
